export default {
  name: '<%=className%>',
  enter(ctx) {
    console.log(`enter ${ctx.url}: <%=className%>`);
  },
  leave(ctx) {
    console.log(`leave ${ctx.url}: <%=className%>`);
  },
  render() {
    return <div>Untitled Component</div>;
  }
}